<app-nav></app-nav>

<div class="ps-page--default">
    <div class="container">
        <div class="ps-page__header">
            <h3>Verificación de Código</h3>
            <ul class="ps-breadcrumb">
                <li><a style="cursor:pointer" [routerLink]="['/']">Tienda</a></li>
                <li><a style="cursor:pointer" [routerLink]="['/login']">Mi cuenta</a></li>
                <li class="active"><a>Verificación</a></li>
            </ul>
        </div>
        <div class="ps-page__content">
            <div class="ps-tab-root">
                <div class="ps-form--auth">
                    <div class="ps-tabs">
                        <div class="ps-tab active">
                            <form class="ps-form--auth" [formGroup]="tokenForm" (ngSubmit)="verificarCodigo()">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Código de Verificación"
                                        formControlName="codigo" required>
                                </div>
                                <div class="ps-form__desc">
                                    <p>Hemos enviado un código de verificación a su correo electrónico. Por favor, ingréselo para iniciar sesión.</p>
                                </div>
                                <div class="form-group submit">
                                    <button type="submit"
                                        class="ps-btn ps-btn--fullwidth ps-btn--black">Verificar</button>
                                </div>
                            </form>
                            <div class="form-group">
                                <button class="ps-btn ps-btn--fullwidth" (click)="reenviarCodigo()">Enviar Código
                                    Nuevamente</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>