<!-- Footer -->
<footer class="ps-footer--2 ps-footer--fullwidth">
    <div class="container">
        <div class="ps-footer__content">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                    <aside class="widget widget_footer widget_align-right">
                        <h3 class="widget-title">{{ 'footer.item_siete' | translate }}</h3>
                        <ul class="ps-list--line">
                            <li *ngFor="let item of categorias">
                                <a style="cursor: pointer;" class="text-white" [routerLink]="['/productos/categoria/'+item.slug]">{{item.titulo}}</a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
  </footer>
  